<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/app.css">
    <script src="/app.js"></script>
  </head>
  <body>
    <hr />
    <a href="/logout">LOGOUT</a>
    <hr />
    <center><b>IMPORT DATABASE</b></center><br />
    <form id="form_upload" action="" enctype="multipart/form-data">
     <input type="file" id="form_upload_file" name="form_upload_file">
     <input type="submit" value="Upload">
   </form>
    <hr />
    <center><b>BACKUP DATABASE</b></center><br />
    <center><a href="/backup">BACKUP</a></center>
    <hr />
    <center><b>CREATE CATEGORY</b></center><br />
  <form id="form_category" action="">
    <b>TITLE:</b> <input type="text" name="category_title" id="category_title" size="70">
    <b>TYPE:</b> <select id="category_type">
    <option value="1">Normal</option>
    <option value="2">List</option>
    </select>
    <input type="submit" value="Submit"><br />
  </form>
    <div id="category"></div>
    <hr />
    <center><b>CREATE EXTERNAL LINK</b></center><br />
  <form id="form_news" action="">
    <b>LINK:</b> <input type="text" name="news_link" id="news_link" size="70"> <br />
    <b>TITLE:</b> <input type="text" name="news_title" id="news_title" size="70"><br />
    <b>CATEGORY:</b> <span id="news_category" name="news_category"></span><br />
    <b>COLOR:</b> <select id="news_style" name="news_style">
    <option value="1">Black</option>
    <option value="2">Blue</option>
    <option value="3">Green</option>
    <option value="4">Red</option>
    <option value="5">Purple</option>
    </select><br />
    <b>BOLD</b> <input type="checkbox" name="news_style_bold" id="news_style_bold" /><br />
    <input type="submit" value="Submit">
  </form>
    <hr />
    <center><b>CREATE ARTICLE</b></center><br />
  <form id="form_article" action="">
    <b>TITLE:</b> <input type="text" id="article_title" size="70"><br />
    <b>CONTENT:</b> <textarea id="article_content" rows="10" cols="70"></textarea><br />
    <b>CATEGORY:</b> <span id="article_category"></span><br />
    <b>COLOR:</b> <select id="article_style"><br />
    <option value="1">Black</option>
    <option value="2">Blue</option>
    <option value="3">Green</option>
    <option value="4">Red</option>
    <option value="5">Purple</option>
    </select><br />
    <b>BOLD</b> <input type="checkbox" id="article_style_bold" /><br />
    <input type="submit" value="Add Article">
  </form> 
    <hr />
    <div id="sort_news"></div>
    <hr />
    <b>CONTENTS</b>
    <div id="stories"></div>
    <hr />
    <script>
    $(document).ready(function() {
        getAdminCategory();
        getAdminStories();
    });
    function renderAdminStories(jsonData){
        $("#stories").html("");
        $(jsonData).each(function(index, el) {
          if (el.content == null) {
            var style = $("#stories").append('<button data-id="' +el.id +'" class="publish">' +(el.publish ? "Hide" : "Show") +'</button><button data-id="' +el.id +'" class="edit">Edit</button><button data-id="' +el.id +'" class="remove">Remove</button><a ' +getStyle(el.style) +' href="' +el.link +'" target="_blank">' +el.title +"</a><br />");
          } else {
            $("#stories").append('<button data-id="' +el.id +'" class="publish">' +(el.publish ? "Hide" : "Show") +'</button><button data-id="' +el.id +'" class="edit">Edit</button><button data-id="' +el.id +'" class="remove">Remove</button><a ' +getStyle(el.style) +' href="article/' +el.id +'" target="_blank">' +el.title +"</a><br />");
          }
        });
    }
    function getAdminStories() {
      $.get("/stories/admin", function(data,status) {
        var jsonData = JSON.parse(data);
        renderAdminStories(jsonData);
      });
    }
    function getAdminCategory() {
      $.get("/category/admin", function(data, status) {
        var jsonData = JSON.parse(data);
        $("#category").html("");
        $("#news_category").empty();
        $("#article_category").empty();
        $("#sort_news").html('<b>CATEGORIES: </b><button data-id="0" class="sort_by">All News</button>');
        $(jsonData).each(function(index, el) {
          if (el.id != 1) {
            $("#category").append(('['+ ['','Normal','List'][el.type] +']') + '<button data-id="' +el.id +'" class="publish">' +(el.publish ? "Hide" : "Show") +'</button><button data-id="' + el.id + '" class="edit">Edit</button><button data-id="' + el.id + '" class="remove">Remove</button>' + el.title + "<br />");
          }
          $("#sort_news").append('</button><button data-id="' +el.id +'" class="sort_by">'+ el.title +'</button>');
          $('#news_category').append(el.title + '<input type="checkbox" value="'+ el.id +'" name="news_category[]"> | '); 
          $('#article_category').append(el.title + '<input type="checkbox" value="'+ el.id +'" name="article_category[]"> | '); 
        });
      });
    }
    $("#form_upload").submit(function(e) {
        e.preventDefault();
        var fileToUpload = $('#form_upload_file').prop('files')[0];
        var fileReader = new FileReader();
        fileReader.onload = function() {
            var data = fileReader.result;
            $.post("/upload", { data: data }, function(result) {
              console.log(result);
                getAdminStories();
            });
        };
        fileReader.readAsText(fileToUpload);
    });
    $('#sort_news').on('click', '.sort_by', function() {
        var categoryID = $(this).data('id');
        var urlStories = "/stories/admin";
        if (categoryID != "0") {
            urlStories = "/stories/" + categoryID + "/admin";
        }
        $.get(urlStories, function(data, status) {
            var jsonData = JSON.parse(data);
            renderAdminStories(jsonData);
        });
    });
    
    ////////
    //  STORIES
    ////////
    $("#form_news").submit(function(e) {
        e.preventDefault();

        var checked_category = []
        $("input[name='news_category[]']:checked").each(function(){
            checked_category.push(parseInt($(this).val()));
        });

        var jsonPost = {
            link: $('#news_link').val(),
            title: $('#news_title').val(),
            category: checked_category,
            publish: 1,
            timestamp: Math.round(+new Date() / 1000),
            style: $('#news_style').val() + ($('#news_style_bold').is(":checked") ? 1 : 0)
        };
        $.post("/stories/add", jsonPost, function(result) {
            $('#news_link').val('');
            $('#news_title').val('');
            getAdminStories();
        });
    });
    $("#form_article").submit(function(e) {

        var checked_category = []
        $("input[name='article_category[]']:checked").each(function (){
            checked_category.push(parseInt($(this).val()));
        });

        e.preventDefault();
        var jsonPost = {
            title: $('#article_title').val(),
            content: $('#article_content').val(),
            category: checked_category,
            publish: 1,
            timestamp: Math.round(+new Date() / 1000),
            style: $('#article_style').val() + ($('#article_style_bold').is(":checked") ? 1 : 0)
        };
        $.post("/stories/add", jsonPost, function(result) {
            $('#article_title').val('');
            $('#article_content').val('');
            getAdminStories();
        });
    });
    $('#stories').on('click', '.remove', function() {
        var storieID = $(this).data('id');
        $.post("/stories/remove", {
            id: storieID
        }, function(result) {
            getAdminStories();
        });
    });
    $('#stories').on('click', '.edit', function() {
        var storieID = $(this).data('id');
        document.location.href = '/edit/story/' + storieID;
    });
    $('#stories').on('click', '.publish', function() {
        var button = $(this);
        var storieID = button.data('id');
        var publish = button.text() == "Show" ? 1 : 0;
        $.post("/stories/publish", {
            id: storieID,
            publish: publish
        }, function(result) {
            button.text(publish ? "Hide" : "Show");
        });
    });

    /////////
    //  CATEGORY
    /////////
    $("#form_category").submit(function(e) {
        e.preventDefault();
        var title = $('#category_title').val();
        var type = $('#category_type').val();
        $.post("/category/add", { title: title, position: 0, type: type }, function(result) {
          $('#category_title').val('');
            getAdminCategory();
        });
    });
    $('#category').on('click', '.remove', function() {
        var categoryID = $(this).data('id');
        $.post("/category/remove", { id: categoryID }, function(result) {
            getAdminCategory();
        });
    });
    $('#category').on('click', '.edit', function() {
        var categoryID = $(this).data('id');
        document.location.href = '/edit/category/' + categoryID;
    });
    $('#category').on('click', '.publish', function() {
        var button = $(this);
        var categoryID = button.data('id');
        var publish = button.text() == "Show" ? 1 : 0;
        $.post("/category/publish", {
            id: categoryID,
            publish: publish
        }, function(result) {
            button.text(publish ? "Hide" : "Show");
        });
    });
    </script>
    
  </body>
</html>

