<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit content</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/app.css">
    <script src="/app.js"></script>
  </head>
  <body>
    <center><b>EDIT ARTICLE</b></center><br />
  <form id="form_storie" action="">
    <b>ID:</b> <input type="text" name="storie_id" id="storie_id" disabled><br />
    <b>TITLE:</b> <input type="text" name="storie_title" id="storie_title"><br />
    <b>LINK:</b> <input type="text" name="storie_link" id="storie_link"><br />
    <b>CONTENT:</b> <textarea id="storie_content" name="storie_content" rows="4" cols="50"></textarea><br />
    <b>CATEGORY:</b> <span id="article_category"></span><br />
    <b>DATETIME:</b> <input type="text" name="storie_date" id="storie_date"><br />
    <b>COLOR:</b> <select id="storie_style" name="storie_style">
    <option value="1">Black</option>
    <option value="2">Blue</option>
    <option value="3">Green</option>
    <option value="4">Red</option>
    <option value="5">Purple</option>
    </select><br />
    <b>BOLD</b><input type="checkbox" name="storie_style_bold" id="storie_style_bold" /><br />
    <b>STORY</b> show<input type="radio" name="storie_publish" value="1" checked>hide<input type="radio" name="storie_publish" value="0"><br />
    <button onclick="window.history.back()">Back</button> <input type="submit" value="Save">
  </form> 
    <script>
      var isStory = false;
      $(document).ready(function() {
        var idArticle = window.location.pathname.split("/").pop();
        $.post("/article/" + idArticle, function(data, status){
          var jsonData = JSON.parse(data);
          $('#storie_id').val(jsonData[0].id);
          $('#storie_title').val(jsonData[0].title);
          $('#storie_link').val(jsonData[0].link);
          $('#storie_content').html(jsonData[0].content);
          $('#storie_date').val(getFormatDate(jsonData[0].timestamp));
          $("input[name=storie_publish]").val([jsonData[0].publish]);
          
          var color = parseInt(jsonData[0].style / 10,10); 
          var bold = jsonData[0].style % 10;
          
          $('#storie_style').val(color);
          $("#storie_style_bold").prop("checked",bold);
          
          if (jsonData[0].link == null) {
            $('#storie_link').attr('disabled','disabled');
            isStory = true
          }
          else{
            $('#storie_content').attr('disabled','disabled');
            isStory = false
          }
          
          getAdminCategory();
          getCategoriesForArticle(idArticle);
        });
      });
      function getCategoriesForArticle(id_article){
        $.get("/stories/category/"+id_article,function(result){
          var jsonData = JSON.parse(result);
          $(jsonData).each(function(index, el) {
            var id_category = el.id_category;
            $("input[name='article_category[]']").each(function (){
              if (id_category == parseInt($(this).val())){
                $(this).prop('checked',true);
              }
            });
          });
        });
      }
      $("#form_storie").submit(function(e){
        e.preventDefault();
        
        var checked_category = []
        $("input[name='article_category[]']:checked").each(function (){
            checked_category.push(parseInt($(this).val()));
        });

        var jsonPost = {id: $('#storie_id').val(),
                        title: $('#storie_title').val(),
                        link: isStory ? undefined : $('#storie_link').val(),
                        content:isStory ? $('#storie_content').val() : undefined,
                        publish:$("input[name='storie_publish']:checked").val(),
                        timestamp:getTimestamp($('#storie_date').val()),
                        categories: checked_category,
                        style:$('#storie_style').val() + ($('#storie_style_bold').is(":checked") ? 1 : 0)
                       };
        $.post("/stories/edit", jsonPost, function(result){
            document.location.href='/admin';
        });
      });
    </script>
    
  </body>
</html>


