<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Articles</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/app.css">
    <script src="/app.js"></script>
  </head>
  <body>
    <center><a href="/"><img src="https://cdn.glitch.com/d0d30f2a-f73b-4b58-8bb0-86b859b852a6%2Funnamed.png?v=1599328256969" width="70%"/></a></center>
    <hr />
    <div id="menu"></div>
    <hr />
    <div id="articles"></div>
    <script>
      $(document).ready(function() {
        getFrontMenu();
        var page = 0;
        var loadMore = true;

        var idCategory = window.location.pathname.split("/").pop();
        $.post("/list/" + idCategory + "/page/" + page, function(data, status){
          var jsonData = JSON.parse(data);
          $(jsonData).each(function(index, el) {
            $("#articles").append('<p>'+(el.content ? '<h1>'+ el.title +'</h1>' : '' ) + (el.content ? el.content : '<a href="'+el.link+'" target="_blank">'+el.title+'</a>')+'</p><hr />');
          });
          loadMore = jsonData.length == 10;
        });

        $(window).scroll(function () { 
           if($(window).scrollTop() >= $(document).height() - $(window).height() - 10 && loadMore) {
              page++;
              loadMore = false;
              $.post("/list/" + idCategory + "/page/" + page, function(data, status){
                var jsonData = JSON.parse(data);
                $(jsonData).each(function(index, el) {
                  $("#articles").append('<p>'+(el.content ? '<h1>'+ el.title +'</h1>' : '' ) + (el.content ? el.content : '<a href="'+el.link+'" target="_blank">'+el.title+'</a>')+'</p><hr />');
                });
                loadMore = jsonData.length == 10;
              });
           }
        });

      });
    </script>
  </body>
</html>

