<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/app.css">
    <script src="/app.js"></script>
  </head>
  <body>
  <form id="form_login" action="">
    password: <input type="text" name="password" id="password">
    <input type="submit" value="Login">
  </form>
    <script>
      $("#form_login").submit(function(e){
        e.preventDefault();
        var jsonPost = { 
          password: $('#password').val()
        };
        $.post("https://maze-low-hosta.glitch.me/login", jsonPost, function(result){
            document.location.href='/admin';
        });
      });
    </script>
  </body>
</html>

