<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/app.css">
    <script src="/app.js"></script>
  </head>
  <body>
    <center><a href="/"><img src="https://cdn.glitch.com/d0d30f2a-f73b-4b58-8bb0-86b859b852a6%2Funnamed.png?v=1599328256969" width="70%"/></a></center>
    <hr />
    <div id="menu"></div>
    <hr />
    <div id="stories"></div>
    <hr />
    <script>
      $(document).ready(function() {
        var page = 0;
        var loadMore = true;
        getFrontMenu();
        
        var idCategory = window.location.pathname.split("/").pop();
        $.post("/page/" + idCategory + "/page/" + page, function(data, status){
          var jsonData = JSON.parse(data);
          renderFrontPageStories(jsonData);
        });

        $(window).scroll(function () { 
           if($(window).scrollTop() >= $(document).height() - $(window).height() - 10 && loadMore) {
              page++;
              loadMore = false;
              $.post("/page/" + idCategory + "/page/" + page, function(data, status){
                var jsonData = JSON.parse(data);
                renderFrontPageStories(jsonData);
                loadMore = jsonData.length == 50;
              });
           }
        });

      });
    </script>
  </body>
</html>
